*{
    margin: 0;
    top:0;
    color:white;
}
@media(min-width: 576px){
    body::before{
        content:'SM';
    }
}
@media(min-width: 768px){
    body::before{
        content:"MD";
    }
}
@media(min-width: 992px){
    body::before{
        content:'LG'
    }
}
@media(min-width: 1200px){
    body::before{
        content:'XL'
    }
}
@media(min-width: 1200px){
    body::before{
        content:'XXL'
    }
}

header{
    background-color: black;
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
}
header ul li{
    display:inline-block;
    padding-left: 50px;
}
ul{
    padding-left: 50px;
}
nav{
    background-color: white;
    width:100%;
    height: 100px;
    display: flex;
}
nav .navlinks{
    display: flex;
    align-items: center;
    padding-left:  27%;    
}
.logo{
    width:200px;
    height:60px;
    padding-top:20px;
    padding-left: 90px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
   
}
nav ul li a{
    color:black;
    text-decoration: none;
}
.section{
    background-image: url("//img/red\ and\ blue.jpg");
    background:linear-gradient(blue,grey);
    width:100%;
    height: 480px;
}
.section h1{
    color: black;
    text-align: center;
    padding-top: 80px;
}
.section h4{
    color: black;
    text-align: center;
    padding-top: 20px;
    font-weight: 20px;
}
.section .btn1{
    margin-left:550px;   
    margin-top: 20px;
    padding: 8px;
    background-color: skyblue;
    border-radius: 15px;
    border: none;
}
.section .btn2{
    margin-left: 30px;
    margin-top: 20px;
    padding: 8px;
    background-color: blue;
    border-radius: 15px;
    border: none;
}
.section2{ 
    display: flex;
    flex-direction: row;
    background-color: white;
}
.section2 .livechat{
    width:100px;
    height: 100px;
    padding-left: 40px;
    
}
.section2 .col-2{
    padding: 30px;
    margin: 10px;   
    width:180px;
}
.section2 .col-2 h2{
    color: black;
    text-align: center;
    padding-top: 20px;
}
.section2 .col-2 p{
    color: black;
    margin-top: 20px;
    text-align: center;
}
.section3{
    background-color: white;
    height: 200px;
}
.section3 .logo3{
    width:100px;
    height: 50px;
}
.section3 h1{
    color: black;
    text-align: center;
    padding-top: 100px;
}
.section3 h3{
    color: black;
    text-align: center;
    padding-top:20px;
}
.section4 {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 460px;
    display: flex;
}
.section4 .col-3{
    height: 400px;
    width: 600px;
    margin: 50px;
    
}
.section4 .logo3{
    height: 100px;
    padding-left: 150px ;
}

.section4 h2{
    color: black;
    text-align: center;
    padding-top: 20px;
}
.section4 p{
    color: black;
    text-align: center;
    padding-top: 20px;
}
.section4 .link2{
    margin-top: 20px;
    padding-left: 130px;
    color: blue;
}
.section5{
    width:100%;
    height: 900px;
    background:linear-gradient(black,grey) ;
}
.section5 h1,h3,p{
    color: white;
    text-align: center;
}
.form{
    background-color: blanchedalmond;
    width:500px;
    height: 500px;
    margin-left: 500px;
    margin-top: 30px;
}
